<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Eat the Burger!</h1>
    </div>
    <div class="row">
        <div class="col text-center">To eat</div>
        <div class="col text-center">Eaten</div>
    </div>
    <div class="row justify-content-around">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="burger-input" class="sr-only">Type a burger</label>
                <input type="password" class="form-control" id="burger-input" placeholder="Type a burger">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>